
html, body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}


header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	width: 100%;
	border-bottom: 1px solid seashell;
	padding: 9px 10px;
	background-color: black;
	z-index: 5;
}

a{
	color: seashell;
	margin: 0 20px;
	text-decoration: underline;
}

img{
	height: 50px;
}

.logo{
	height: 50px;
}

/* mission div */

#mission{
	/*position:relative;
	top:70px;*/
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.background{
	background-image: url(../images/background.jpg);
	width: 1200px;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background h2{
	text-align: center;
	background-color: black;
	width: 100%;
	padding: 10px;
	margin: 0 auto;

	}

.background h4{
  text-align: center;
	background-color: black;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
}

/* tea of the month */

#monthee{
	/*position: relative;
	top: 150px;*/
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 20px;
	border: 1 solid red;

}

#monthee h2{
	margin: 10px;
}


.imgcont{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 1000px;
	align-content: center;
	align-self: center;

}

.imgcont img{
	width: 300px;
	height: 200px;
}

.imgcont > div{
	padding: 10px;
}

.imgcont h4{
	padding-top: 10px;
	margin-top: 10px;
}

/* location inc */

#locations{
	/*position: relative;
	top: 200px;*/
	display: flex;
	text-align: center;
	justify-content: center;
}



.bgtea{
	background-image: url(../images/blackcup.jpg);
	display: inline-flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 500px;
}

#locations h2{
	margin: 0;
}

.places{
	display: inline-flex;
	justify-content: center;
	align-items:center;
}

.places > div{
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;
	margin: 15px 20px;
	opacity: 1;
}

#contact{
	/*position: relative;
	top: 180px;*/
	text-align: center;
	margin: 0;
	padding: 0;
	height: 200px;
}

footer{
	position: relative;
	top: 120px;
	margin: 20px;
}

.contenido {
	position:absolute;
	top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
