
html, body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}


header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	width: 100%;
	border-bottom: 1px solid seashell;
	padding: 9px 10px;
	background-color: black;
	z-index: 5;
}

a{
	color: seashell;
	margin: 0 20px;
	text-decoration: underline;
}

img{
	height: 50px;
}

.logo{
	height: 50px;
}

/* mission div */

#mission > div {
	border: 1px solid green;
}

#mission{
	position:relative;
	top:70px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
}

.background{
	background-image: url(../images/background.jpg);
	width: 1200px;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background h2{
	text-align: center;
	background-color: black;
	width: 100%;
	padding: 10px;
	margin: 0 auto;

	}

.background h4{
  text-align: center;
	background-color: black;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
}

/* tea of the month */

#monthee{
	position: relative;
	top: 150px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 1px dotted red;
}

#monthee h2{
	margin: 0;
}

.imgcont{
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 1000px;
	border: 1px solid green;
	align-self: center;
}

.imgcont img{
	width: 300px;
	height: 200px;
}

.imgcont h4{
	padding-top: 10px;
	margin-top: 0;
}

/* location inc */
