
html, body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}


header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	width: 100%;
	border-bottom: 1px solid seashell;
	padding: 9px 10px;

}

a{
	color: seashell;
	margin: 0 20px;
}

img{
	height: 50px;
}

.logo{
	height: 50px;
}

/* mission div */

#mission > div {
	border: 1px solid green;
}

#mission{
	position:relative;
	top:70px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
}

.background{
	background-image: url(../images/background.jpg);
	background-attachment:fixed;
	background-position: center;
	width: 1200px;
	height: 700px;
}
